ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        opacity: 0.8;
}

li {
        float: left;
}

li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

label {
        color:white;
        font-style: italic;  

}       

li a:hover {
        background-color: #F5A905;
}

a:link {
        font-size: 16px;
        text-decoration: none;
        color: red;
}

a:visited {
        text-decoration: none;
        color: red;  
}

a:hover {
        font-size: 15px;
        text-decoration: underline;
        color: white;
}

.footer {
        position: relative;
        left: 0px;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #333;
        opacity: 0.9;
        align-items: center;
        text-align: center;
        
}

.logo {
        width: 200px;
        height: 250px;
        float: left;
        position: absolute;
        left: 10px;
        top: 60px;
       
}

.form {
        background-color: black;
        vertical-align: center;
        text-align: center;
        height: 40px;
        float: right;
        padding: 30px;
}

.button {
        background-color: red;
        border-bottom: 5px solid #FC3838;
        border-right: 5px solid #FC3838;
        border-top: 5px solid red;
        border-left: 5px solid red;
        width: 100%;
        color:black;
        padding: 10px 0px 10px 0px;
        border-radius: 5px;
        font-size: 20px;
        text-shadow: 1px 1px gray;
}

.button:hover {
        background-color: red;
        border-bottom: 5px solid red;
        border-right: 5px solid red;
        border-top: 5px solid #FC3838;
        border-left: 5px solid #FC3838;
}
.button:focus{
        background-color: red;
        border-bottom: 5px solid red;
        border-right: 5px solid red;
        border-top: 5px solid #FC3838;
        border-left: 5px solid #FC3838;
}

.box {
        border-radius: 50px;
        border: 1px solid gray;
        max-width: 500px;
        box-shadow: 4px 4px 3px black;
        padding: 20px 30px 10px 30px;
        float: none;
        position: absolute;
        left: 40%;
        top: 100px;
        opacity: 0.8;
        background-image: linear-gradient(to right, black , gray);
        color: white;
}

.box-campos {
        margin-bottom:20px;

}

.formataInput {
        width: 100%;
        height: 25px;
        margin-top: 5px;
        background-color: white;
        border-radius: 10px;
        background-image: linear-gradient(to top, white , gray);
}

div.gallery {
        float: left;
        width: auto;
        height: auto;
        position: relative;
        left: 18%;
        top: 40px;
        padding-right: 30px;
        padding-bottom: 60px;
}

div.gallery img {
        width: 370px;
        height: 260px;
}

.h {
        border-radius: 50px;
        border: 1px solid gray;
        max-width: 60%;
        box-shadow: 4px 4px 3px black;
        padding: 20px 30px 10px 30px;
        padding-bottom: 25px;
        float: none;
        position: relative;
        left: 20%;
        top: 13%;
        background: gray;
        opacity: 0.7;
        font-size: 30px;
        font-family: sans-serif;
        font-family: 'Oswald', sans-serif;
        text-align: justify;
}

.img {
        float: left;
        width: 50%;
        height: auto;
        position: relative;
        left: 400px;
        top: 45px;
        opacity: 0.8;
}

@media print {
        .h{
        color: #000000;
        display: contents;color: gray;
        }
        ul {
            display: none;
        }
        .footer{
            display: none;
        }

        img {
        display: none;
    }

